<?xml version="1.0"?>
<Events>
<!--    <SupportURL>https://github.com/mlamoure/IndigoSNSClient</SupportURL>
    <Event id="updateAvailable">
        <Name>Plugin Update Available</Name>
        <ConfigUI>
			<Field id="device" type="menu"
				tooltip="Which SNS Device">
				<List class="indigo.devices" filter="self.SNSDevice"/>
				<Label>Device:</Label>
			</Field>
			<Field id="device" type="menu"
				tooltip="Which SNS Device">
				<List class="indigo.devices" filter="self.SNSDevice"/>
				<Label>Device:</Label>
			</Field>
        </ConfigUI>
    </Event>
--></Events>